/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* UTILITIES */

.flex {
  display: flex;
}
.end {
  justify-content: flex-end;
}
.vertical.end {
  align-items: flex-end;
}
.start {
  justify-content: flex-start;
}
.vertical.start {
  align-items: flex-start;
}
.around {
  justify-content: space-around;
}
.vertical.around {
  align-items: space-around;
}
.between {
  justify-content: space-between;
}
.vertical.between {
  align-items: space-between;
}
.evenly {
  justify-content: space-evenly;
}
.vertical.evenly {
  align-items: space-evenly;
}
.vertical {
  flex-direction: column;
}
.horizontal {
  flex-direction: row;
}
.left {
  justify-content: flex-start;
  text-align: left;
}
.center--x {
  justify-content: center;
  text-align: center;
}
.center--y {
  align-items: center;
  text-align: center;
}

.right {
  justify-content: flex-start;
  text-align: right;
}

.wrap {
  flex-wrap: wrap;
}
/* 
** CUSTOM STYLES
*/
* {
  transition: var(--transition);
}

:root {
  /* CSS Variables */
  --box-shadow-bottom: 0 10px 10px rgba(0, 0, 0, 0.2);
  --box-shadow-top: 10px 0 10px rgba(0, 0, 0, 0.2);
  --box-shadow-shine: rgba(136, 153, 166, 0.2) 0px 0px 15px,
    rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
  /* COLORS */
  --color-brand: #add8e6;
  --color-secondary: #f9d502;
  --color-white: #fff;
  --color-dark: #0f0326;
  --color-warning: #e65f5c;
  --color-success: #3f7d20;
  --color-grey: #eaeded;
  /* ANIMATION */
  --transition: all 0.2s ease;
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  --slide-in-px: 220px;
}

h1,
h2,
h3 {
  margin: 0.5rem 0;
  text-transform: uppercase;
  /* text-align: center; */
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

img {
  width: 100%;
  max-width: 250px;
  object-fit: cover;
  object-position: center;
}

section,
.container {
  overflow: hidden;
}
section,
.section {
  margin: 5vh 0;
}

/* Buttons styles start */
button {
  display: inline-block;
  padding: 0.6rem 1rem;
  margin: 0;
  text-decoration: none;
  background: var(--color-white);
  color: var(--color-dark);
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: rgb(182, 182, 182);
}

button:focus {
  outline: 1px solid var(--color-white);
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
.button-primary {
  background: var(--color-brand);
  color: var(--color-dark);
}
.button-secondary {
  background: var(--color-secondary);
  color: var(--color-dark);
}
.button-white {
  background: var(--color-white);
  color: var(--color-dark);
}
.button-dark {
  background: var(--color-dark);
  color: var(--color-white);
}
.button-success {
  background: var(--color-success);
  color: var(--color-white);
}
.button-warning {
  background: var(--color-warning);
  color: var(--color-white);
}

/* LAYOUT */

#root {
  height: 100vh;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.grid-header {
  margin: 50px 0;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 20px;
}

/* MAIN */

main {
  position: relative;
  overflow: hidden;
  background: var(--color-grey);
}

/* GIFT CARD */
.card {
  background-color: var(--color-white);
  border: 8px solid var(--color-white);
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  /* box-shadow: var(--box-shadow-bottom); */
  align-items: center;
  padding: 20px;
}
.card.active {
  border: 8px solid #add8e6;
}

.card-image-wrapper {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
}

/* PANEL */

.panel-section {
  background: var(--color-white);
  border: 2px solid var(--color-grey);
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  transform: translateX(var(--slide-in-px));
  overflow: visible;
  width: var(--slide-in-px);
}

.panel-button {
  width: 160px;
  position: absolute;
  left: -160px;
  top: 0;
}

/* Player List */
.players-container {
  overflow-y: auto;
  overflow-x: hidden;
}
.players-wrapper {
  justify-content: space-evenly;
}
.player-card {
  margin: 10px 0;
  width: 100%;
}
.player-card p {
  font-size: 12px;
}
.player-card-image-wrapper {
  width: 100%;
  max-width: 70px;
}
.player-card-info-wrapper {
  margin-left: 10px;
}
.player-card-info-wrapper h3 {
  font-weight: bold;
}
.player-card-info-wrapper p {
  margin: 2px 0;
}
.player.active {
  font-weight: bolder;
}

/* ACTION BAR */
.action-bar-container {
  color: var(--color-dark);
  position: fixed;
  padding: 5px 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: -20%;
  left: 0;
  background-color: var(--color-brand);
  box-shadow: var(--box-shadow-shine);
  transition: var(--transition);
}
.action-bar-wrapper {
  /* flex-direction: column; */
}
h2 {
  margin: 0 5px;
}

.action-button {
  margin: 0 5px;
}

.button-wrapper {
  /* margin-top: 10px; */
}

/* ANIMATION */
.slide-up {
  bottom: 0;
}
.slide-in {
  transform: translateX(0);
}
/* HEADER / NAV */

/* GAME SUMMARY PAGE */

.summary-section {
  height: 100%;
}

.summary-row {
  flex: 1 1 100%;
  flex-wrap: wrap;
}

.summary-row:last-of-type {
  margin-top: 5rem;
}
.summary-column {
  flex: 1 0 50%;
  /* text-align: center; */
}
.summary-instructions ol {
  max-width: 320px;
  margin: 0 auto;
}
.summary-column > *,
.summary-instructions li {
  margin: 20px 0;
}
.summary-column:last-child {
  margin: 0;
}
@media (min-width: 968px) {
  .summary-instructions ol {
    max-width: 100%;
    text-align: left;
    padding-left: 25%;
  }
}
@media (max-width: 968px) {
  .summary-instructions {
    justify-content: flex-start;
  }
  .summary-row > * {
    flex: 1 1 100%;
  }
}
